/* CSS declarations go here */
.control-group input{
	
}
label,legend{
	text-transform : capitalize;
}
.addSubWrapper{
	padding-top : 10px;
	padding-bottom : 10px;
	float : right;
	width : 100%;
}
.addSubWrapper button{
	float : right;
}
.row{
	margin-top : 30px;
}
